/* General styles */
body {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
  }
  
  /* Error message styling */
  #errorMessage {
    color: red;
    font-size: 0.9em;
  }
  
  /* Personalized content section (hidden by default) */
  #personalizedContent {
    display: none;
  }
  
  /* Images styling */
  #images img {
    margin: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
  }
  
  #logoContainer {
    text-align: center;
    margin-bottom: 20px; /* Adds space below the logo */
  }
  
  #nyitLogo {
    max-width: 100%; /* Adjusts to the screen width */
    height: auto; /* Maintains aspect ratio */
    max-height: 100px; /* Optional: Restricts the maximum height */
  }